<ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link global-menu-account" href="/settings/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link global-menu-profile" href="/settings/profile">Profile</a>
        </li>
      </ul>