                <div class="nav flex-column nav-pills" id="global-menu">
                    <a class="nav-link global-menu-" href="/" >Home</a>
                    <a class="nav-link global-menu-articles" href="/articles" >Article</a>
                </div>